$--color-primary: #2b50ed;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@mixin capital-text($font-size: 10px) {
  color: #17213e;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: $font-size;
  text-transform: uppercase;
  -webkit-font-smoothing: initial;
}
